doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title GDF. Portfolio
    meta(name="description", content="Portfolio of Southampton based Graphic Designer")
    meta(name="author", content="George Donald Flood")
    meta(name="keywords", content="Graphic, Design, Designer, George, Flood, Southampton, UK")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="icon", type="image/ico", href="/favicon.ico?")
    //link(href='https://fonts.googleapis.com/css?family=Raleway:900|Inconsolata', rel='stylesheet', type='text/css')
  
  body
    .body-wrapper
      include ./assets/jade/header/header.jade
      include ./assets/jade/main-content/main-content.jade
      
    script(src="assets/js/functions-min.js")

      
