doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title GDF. Portfolio
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/css-test/main.css")
    link(rel="icon", type="image/png", href="images/favicon.png")
  
  body
    .body-wrapper
      include ./assets/jade/header/header.jade
      
    script(src="assets/js/function-min.js")

      
