.content-wrapper
  .content-container
    .section-container
      .thumbs
        .row
          article(data-folder='Proj-1' style='background-image: url(assets/images/Proj-1/Thumb_1.jpg);')
            .overlay
              h1 Book.
          article(data-folder='Proj-2' style='background-image: url(assets/images/Proj-2/Thumb_2.jpg);')
            .overlay
              h1 Flyer.
        .row
          article(data-folder='Proj-3' style='background-image: url(assets/images/Proj-3/Thumb_3.jpg);')
            .overlay
              h1 Catalogue.
          article(data-folder='Proj-4' style='background-image: url(assets/images/Proj-4/Thumb_4.jpg);')
            .overlay
              h1 Poster.
        .row
          article(data-folder='Proj-5' style='background-image: url(assets/images/Proj-5/Thumb_5.jpg);')
            .overlay
              h1 Bag.
          article(data-folder='Proj-6' style='background-image: url(assets/images/Proj-6/Thumb_6.jpg);')
            .overlay
              h1 Prospectus.
        .row
          article(data-folder='Proj-7' style='background-image: url(assets/images/Proj-7/Thumb_7.jpg);')
            .overlay
              h1 Tender.
          article(data-folder='Proj-8' style='background-image: url(assets/images/Proj-8/Thumb_8.jpg);')
            .overlay
              h1 Price List.
        .row
          article(data-folder='Proj-9' style='background-image: url(assets/images/Proj-9/Thumb_9.jpg);')
            .overlay
              h1 Posters.
          article(data-folder='Proj-10' style='background-image: url(assets/images/Proj-10/Thumb_10.jpg);')
            .overlay
              h1 Invite.
        .footer
          p © All rights reserved
      .work
