.content-wrapper
  .content-container
    .section-container
      .thumbs
        .row
          article(data-folder='proj-1' style='background-image: url(assets/images/proj-1/thumb_1.jpg);')
            .overlay
              h1 Book.
          article(data-folder='proj-2' style='background-image: url(assets/images/proj-2/thumb_2.jpg);')
            .overlay
              h1 Flyer.
        .row
          article(data-folder='proj-3' style='background-image: url(assets/images/proj-3/thumb_3.jpg);')
            .overlay
              h1 Catalogue.
          article(data-folder='proj-4' style='background-image: url(assets/images/proj-4/thumb_4.jpg);')
            .overlay
              h1 Poster.
        .row
          article(data-folder='proj-5' style='background-image: url(assets/images/proj-5/thumb_5.jpg);')
            .overlay
              h1 Bag.
          article(data-folder='proj-6' style='background-image: url(assets/images/proj-6/thumb_6.jpg);')
            .overlay
              h1 Prospectus.
        .row
          article(data-folder='proj-7' style='background-image: url(assets/images/proj-7/thumb_7.jpg);')
            .overlay
              h1 Tender.
          article(data-folder='proj-8' style='background-image: url(assets/images/proj-8/thumb_8.jpg);')
            .overlay
              h1 Price List.
        .row
          article(data-folder='proj-9' style='background-image: url(assets/images/proj-9/thumb_9.jpg);')
            .overlay
              h1 Posters.
          article(data-folder='proj-10' style='background-image: url(assets/images/proj-10/thumb_10.jpg);')
            .overlay
              h1 Invite.
        .footer
          p © All rights reserved
      .work
