svg(viewBox="0 0 54 26")
  path(d= "M8.17,26H7.27A7.27,7.27,0,0,1,0,18.73V7.27A7.27,7.27,0,0,1,7.27,0h0.9a7.27,7.27,0,0,1,7.27,7.27v1.1H10.56V7A2.68,2.68,0,0,0,7.88,4.31H7.55A2.68,2.68,0,0,0,4.88,7V19a2.68,2.68,0,0,0,2.68,2.68H7.88A2.68,2.68,0,0,0,10.56,19V15.84H7.72V12.19h7.72V25.59H13.19l-0.88-2A5.18,5.18,0,0,1,8.17,26h0ZM38.88,4.78V0.4H51.8V4.78h-8v6h6.34v4.38H43.79v10.4H38.88V4.78ZM27.41,25.59H19.87V0.41h7.56A7.57,7.57,0,0,1,35,8V18A7.58,7.58,0,0,1,27.41,25.59Zm26.59,0H49.94V21.53H54v4.06Zm-26.57-21H24.64V21.42h2.79a2.79,2.79,0,0,0,2.79-2.79V7.36A2.79,2.79,0,0,0,27.43,4.58Z")
