.header
  .nav
    .logo
      include ./gdflogo.jade
    .info-lockup
      p Hi, I’m George Donald Flood a Graphic Designer based in Southampton, UK and this is my portfolio.
      .contactbtn
        a(href='mailto:georgeflood44@gmail.com?Subject=Hi%20there')
          h2 Say Hello
      .social
        ul
          li
            a(href='https://www.instagram.com/georgeflood44/' target='_blank')
              include ./instagram.jade
          li
            a(href='https://www.behance.net/georgeflood' target='_blank')
              include ./behance.jade
          li
            a(href='https://twitter.com/georgedflood' target='_blank')
              include ./twitter.jade
    .infobtn
      span
      span
      span
