.content-wrapper {
  margin-left: 350px; }
  .content-wrapper .content-container {
    width: 100%;
    background: white;
    position: relative;
    left: 0;
    overflow: hidden; }
    .content-wrapper .content-container .section-container {
      max-width: 1480px;
      padding: 4% 0 4% o;
      margin: 0 auto; }
      @media screen and (max-width: 2000px) {
        .content-wrapper .content-container .section-container {
          width: 90%; } }
